body {
  /*background: #E0EAFC;  
  background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC); 
  background: linear-gradient(to right, #CFDEF3, #E0EAFC); */
  padding:20px;
  
}

.container {
  max-width: 500px;
  -webkit-box-shadow: 10px 10px 79px 2px rgba(0,0,0,0.35);
  -moz-box-shadow: 10px 10px 79px 2px rgba(0,0,0,0.35);
  box-shadow: 10px 10px 79px 2px rgba(0,0,0,0.35);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: rgb(83,108,156);
  background: linear-gradient(180deg, rgba(83,108,156,1) 0%, rgba(200,214,241,1) 48%, rgba(224,234,252,1) 100%);
}

.search-icon {
  font-size: 22px;
}
.city-name,
.current-date,
.current-time,
.week-day,
.week-temperature,
.weather-comment,
.temperature-avrg {
  color: #08132B;
  font-family: "Karla", sans-serif;
}
.city-name {
  font-size: 25px;
}
.current-time {
  font-size: 15px;
  font-weight: 600;
}

.temperature-now {
  font-family: "Montserrat", sans-serif;
  color: #08132B;
  font-size: 60px;
  font-weight: 700;
}
.temperature-avrg {
  font-size: 18px;
  font-weight: lighter;
}
.today-info {
  margin-top: 54px;
  margin-left: 2px;
  min-height: 256px;
}
.weather-icon,
.large-image,
.search-icon {
  color: whitesmoke;
}
.weather-icon {
  font-size: 25px;
}

.weather-comment {
  font-size: 30px;
  color: #EC6E4C;
}
.week-day,
.week-temperature {
  font-size: 15px;
}
.week-day,
.week-temperature,
.weather-icon {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.weather-icon img {
  width: 50px;
  max-width: 100%;
}
.next-week {
  margin-top: 80px;
}

.github-link a,
.github-link a:link,
.github-link a:visited{
    font-size: 10px;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 12px;
    margin-top: 10px;
    color: #08132b;
}